NEXT_PUBLIC_SUPABASE_URL=https://uthmikmvhxafmbpedfua.supabase.co

NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InV0aG1pa212aHhhZm1icGVkZnVhIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODA4MTk3MjEsImV4cCI6MjA5NjM5NTcyMX0.981weHvnTd6BJ7C_en-WDrglmMVTYhP5bBFTyn6baP0

DATABASE_URL=postgresql://postgres:damusia2026@db.uthmikmvhxafmbpedfua.supabase.co:5432/postgres

NEXT_PUBLIC_GA_ID=G-S9C1F48Q5L

SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InV0aG1pa212aHhhZm1icGVkZnVhIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4MDgxOTcyMSwiZXhwIjoyMDk2Mzk1NzIxfQ.64pKZ5QfOYYZFjjCOZQgglhm4SQBQknSW69fQOfoU4o

NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=sb_publishable_o1uE-fJVDdHcpeN43dn_pg_lWkVSCzP
